<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.name_first %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.name_first %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.dob %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
