<% if admin_session %>
<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td>$<%= product.price %></td>
      <td><%= product.description %></td>
      <td><%= link_to 'Show', product %></td>
      <td><%= link_to 'Edit', edit_product_path(product) %></td>
      <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
<% elsif user_session %>
<h1>Click to Adopt Me!</h1>
<div class="adopt">
  <%= link_to charges_new_path do %><%= image_tag('ladle.jpg') %>
  <% end %>
</div>
<% else %>
<h1>Adopt!</h1>
<h2 class="login-signup">To adopt please <%= link_to 'Log In or Sign Up', new_user_session_path %></h2>
<% end %>
