<!DOCTYPE html>
<html>
  <head>
    <title>Tobys</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <nav>
      <ul>
      <% if admin_session %>
      <li><%= link_to 'Users', users_path %></li>
      <li><%= link_to 'New Post', new_post_path %></li>
      <li><%= link_to 'Manage Posts', posts_path %></li>
      <li><%= link_to 'Sign Out', destroy_admin_session_path, :method => :delete %></li>
      <% elsif user_session %>
      <li><%= link_to 'Home', users_path %></li>
      <li><%= link_to 'Adopt', new_admin_session_path %></li>
      <li><%= link_to 'Matz Up Blog', posts_path %></li>
      <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to 'Home', users_path %></li>
      <li><%= link_to 'Adopt', new_admin_session_path %></li>
      <li><%= link_to 'Admin Sign In', new_admin_session_path %></li>
      <li><%= link_to 'User Sign In', new_user_session_path %></li>
      <% end %>
    </ul>
    </nav>

    <%= yield %>
  </body>
</html>
