<!DOCTYPE html>
<html>
<head>
  <title>Tobys</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="icon" href="<%=image_url('logo.png')%>" type="image" sizes="16x16">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway|Varela+Round" rel="stylesheet">
</head>

<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <nav>
    <ul>
      <% if admin_session %>
      <li><%= image_tag('ball.png') %><strong><%= link_to 'Users', users_path %></strong></li>
      <li><%= image_tag('ball.png') %><strong><%= link_to 'About Us', welcome_home_path %></strong></li>
      <li><%= image_tag('ball.png') %><strong><%= link_to 'New Post', new_post_path %></li>
        <li><%= image_tag('ball.png') %><strong><%= link_to 'Manage Posts', posts_path %></strong></li>
        <li><%= image_tag('ball.png') %><strong><%= link_to 'Products', products_path %></strong></li>
        <li><%= image_tag('ball.png') %><strong><%= link_to 'Sign Out', destroy_admin_session_path, :method => :delete %></strong></li>
        <% elsif user_session %>
        <li><%= image_tag('ball.png') %><strong><%= link_to 'Home', welcome_index_path %></strong></li>
        <li><%= image_tag('ball.png') %><strong><%= link_to 'About Us', welcome_home_path %></strong></li>
        <li><%= image_tag('ball.png') %><strong><%= link_to 'Adopt', products_path %></strong></li>
        <li><%= image_tag('ball.png') %><strong><%= link_to 'Matz Up Blog', posts_path %></strong></li>
        <li><%= image_tag('ball.png') %><strong><%= link_to 'Settings', current_user %></strong></li>
        <li><%= image_tag('ball.png') %><strong><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></strong></li>
        <% else %>
        <li><%= image_tag('ball.png') %><strong><%= link_to 'Home', welcome_index_path %></strong></li>
        <li><%= image_tag('ball.png') %><strong><%= link_to 'About Us', welcome_home_path %></strong></li>
        <li><%= image_tag('ball.png') %><strong><%= link_to 'Adopt', products_path %></strong></li>
        <li><%= image_tag('ball.png') %><strong><%= link_to 'Matz Up Blog', posts_path %></strong></li>
        <li><%= image_tag('ball.png') %><strong><%= link_to 'Sign In/Sign Up', new_user_session_path %></strong></li>
        <% end %>
      </ul>
    </nav>
    <!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
    <div class="yield">
    <%= yield %>
  </div>
  </body>
  </html>
